.courseTable{
	border-collapse:collapse;
   	border:1px solid #000000;
}

.courseTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.courseTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.courseTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}

.error {
	color: red;
}

.addbutton {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-bottom: 15px;
}

.labeld {
	font-weight: bold;
}